.b1 {
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    background: royalblue;
    font-size: 120%;
}
h1{
    text-align: center;
}
input{
    text-decoration: none;
    border-radius: 6px;
    font-size: 120%;
}
